<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员日志</title>
</head>
<body>
    <header>
            <h1>日志中心</h1>
            <p>记录用户操作。</p>
        </header>

        <nav class="nav">
            <a href="/">首页</a>
            <a class="secondary" href="/page/upload">数据导入</a>
            <a class="secondary" href="/page/analyze">运营分析</a>
            <a class="secondary" href="/page/shipments">数据列表</a>
            <a class="secondary" href="/page/report">日报中心</a>
            <a class="secondary" href="/page/dashboard">实时监控</a>
            <a class="secondary" href="/page/code_generator">代码生成器</a>
            <a class="secondary" href="/page/admin_log">日志中心</a>
        </nav>
</body>
</html>